/* Write your CSS here */
.filter-button {
  padding: 10px;
  outline: none;
  border: none;
  width: 100px;
  color: black;
  background: none;
}
.selected-button {
  border-radius: 10px;
  border: 1px solid #0284c7;
  color: #0284c7;
}
